<h1>
    Bootstrap 4 Visual Studio Starter Kit
</h1>

<p>
    Everything is working!
</p>

<p>
    <a class="btn btn-primary" href="https://github.com/equilaterus/Bootstrap4.VisualStudio.StarterKit">
        Official repo
    </a>
</p>